:root {
  --theme: #333;
  --fontColorNav: #333;
  --background: #ecfedd;
}

.yd-questionBank-navBar {
  display: flex;
  align-items: center;
  height: 100px;
  background: var(--background);
  flex: 1;
  padding-left: 30px;
  overflow: hidden;
  & .yd-navItem {
    font-size: 18px;
    display: inline-block;
    padding: 20px 40px;
    color: var(--fontColorNav);
    text-decoration: none;
  }
  & :hover {
    color: '#446d91';
    font-weight: 500;
  }
}
