:root {
    --theme: #333;
    --fontColor: #333
}

.questionBank-navBar {
    display: flex;
    height: 40px;
    flex: 1;
    overflow: hidden;
}

.questionBank-navBar .navItem {
    font-size: 100%;
    display: inline-block;
    padding: 10px 30px;
    color: var(--fontColor);
    text-decoration: none;
}