:root {
  --DetailFontColor: #70dbdb;
}
.yd-question-detail {
  font-size: 18px;
  padding: 20px 10px;
  color: var(--DetailFontColor);
  h2 {
    padding: 30px;
    text-align: center;
    background:#765f7b;
  }
  .yd-question-answer {
    display: block;
    width: 100%;
    min-height: 200px;
    color: #333;
    text-align: center;
    .yd-question-answer-hide {
      height:100px;
      line-height:100px;
      display:none;
      &:hover {
        cursor: pointer;
      }
    }
    .yd-question-answer-show {
      width:100%;
      display:none;
    }
    .showQuestion {
      display: block;
    }
  }
}
