:root {
  --fontColorHistory: #f0e68c;
}
.yd-components-hot {
  font-size: 18px;
  padding: 20px 10px;
  color: var(--fontColorHistory);
  h2 {
    margin: 0 0 10px 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
