:root {
  --fontColorDaily: #87ceeb;
}
.yd-components-Daily {
  font-size: 18px;
  padding: 20px 10px;
  color: var(--fontColorDaily);
  h2 {
    margin: 0 0 10px 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
