.yd-right-bar {
  & h2 {
    color: #ef4d3e;
    font-size: 17px;
    padding: 25px 20px;
  }
  .yd-right-list {
    margin: 10px auto;
    padding: 10px 0 10px 20px;
    min-height: 15px;
    color: #8b4513;
    font-size: 14px;
  }
}
